@mixin flex($position) {
    display: flex;
    justify-content: $position;
    align-items: center;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: $white-color;
    color: $text-color;    
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: $text-color;

    &:hover {
        color: inherit;
    }  
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

ul, li {
    list-style: none;
}

.container {
    // max-width: 1300px;
}

.dash {
    text-decoration: line-through;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
}

.btn-dark {
    background: $black-color;
}

.btn-watch-more {
    @include flex(center);
    background: $white-color;
    color: $black-color;
    height: 42px;
    padding: 0 !important;
    font-weight: 600;
    border-radius: 3px;
    border: 2px solid $black-color;

    &:hover {
        background: $white-color;
    }

    &:hover span {
        background: $black-color;
        transform: translate(-3px, -6px);
        color: $white-color;
        border-radius: 3px;
        border: 2px solid $black-color;
    }
    
    span {
        padding: 1rem 2rem;
        transition: transform .3s ease;
    }
}

/* Preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}

.preloader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.preloader-icon {
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 0px;
}

.preloader-icon span {
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: $primary-color;
    -webkit-animation: preloader-fx 1.6s linear infinite;
    animation: preloader-fx 1.6s linear infinite;
}

.preloader-icon span:last-child {
    animation-delay: -0.8s;
    -webkit-animation-delay: -0.8s;
}

@keyframes preloader-fx {
    0% {transform: scale(0, 0); opacity:0.5;}
    100% {transform: scale(1, 1); opacity:0;}
}

@-webkit-keyframes preloader-fx {
    0% {-webkit-transform: scale(0, 0); opacity:0.5;}
    100% {-webkit-transform: scale(1, 1); opacity:0;}
}
/* End Preloader */