

/*=======================
    Modal
=========================*/ 
.modal-open {
    overflow-y: scroll !important;
}

body.modal-open {
    padding-right: 0 !important;
}

/*=======================
    Breadcrumb
=========================*/ 
.breadcrumb__wrap {
    @include flex(space-between);
    padding: 1rem 0;

    p {
        font-weight: bold;
        color: $primary-color;
    }

    .breadcrumb {

        &-item.active {
            color: $primary-color;
            font-weight: bold;
        }
    }
    p, ol.breadcrumb {
        margin-bottom: 0;
        // font-weight: bold;
    }

}

/*=======================
    ScrollUp
=========================*/ 
#scrollUp {
	right: 10px;
	z-index: 33;
	bottom: 10px;
	text-align: center;

    &:hover i {
        background: $primary-color;
	    color:#fff;
    }

    i {
        height: 40px;
        width: 40px;
        line-height: 40px;
        background:transparent;
        background:#222;
        border-radius: 0;
        font-size: 18px;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        transition: all 500ms ease;
        display:block;
        color: #fff;
        box-shadow: 0px 4px 19px #00000038;
    }
}


/*=======================
    Collapse
=========================*/ 
@media (prefers-reduced-motion: reduce) {
    .collapsing {
        transition-property: height, visibility;
        transition-duration: .35s;
    }
}

/*=======================
    Accordion
=========================*/ 
.accordion {

    &#accordionFlushExample1 &-button.collapsed-disabled::after {
        display: none;
    }

    &-item {
        border: 0;
    }

    &-header {
        
        & > div {
            // padding: 1.5rem 0;
        }
    }

    &-button {

        padding: 1.5rem 0;
        font-size: 1.4rem;
        // font-weight: 600;

        &.collapsed-disabled {

            &:focus:not(.collapsed)::after {
                background-image: none !important;
            }

            &:not(.collapsed)::after {
                transform: none;
                background-image: none !important;
            }

            &::after {
                font-family: "FontAwesome";
                content: '\f061';
                background-image: none;
            }
        }

        &:not(.collapsed) {
            color: $primary-color;
            background: transparent;
            box-shadow: none;
            
            &::after {
                background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FF7F50'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
            }
        }

        &:focus {
            border-color: transparent;
            box-shadow: none;

            &:not(.collapsed) {
                color: $primary-color;
                background: transparent;

                &::after {
                    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FF7F50'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
                }
            }
        }

    }
}



/*=======================
    Nice select 
=========================*/ 
.nice-select {
    @include flex(flex-start);
    width: 155px;
    height: 48px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 1px solid #e0e0e0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-weight: 500;

    .current {
        // font-weight: 600;
        width: 100%;
    }

    &:after {
        margin-top: -3px;
    }

    &:active,
    &.open,
    &:focus {
        border-color: #e0e0e0;
    }

    .list {
        width: 100%;
    }
    
    &.open .list {
        animation: slideIn .5s ease;
    }
}

.nav-pills {
    margin-bottom: 1rem;
    
    .nav-item {

        .nav-link {
            padding: 1rem 2rem;
            font-size: 1.4rem;
            font-weight: 600;
            color: $black-color;
        }

        .nav-link.active {
            background: $primary-color;
            color: $white-color;
        }
    }
}


